{% extends /layouts/template.html %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Selecione as moedas para realizar a conversão</h3>
            </div>
            <div class="card-body p-0">
                <div class="bs-stepper">

                    {% include /pages/currency/steps.html %}

                    {% include /pages/currency/step-content.html %}

                </div>
            </div>
            {% include /pages/currency/taxes.html %}
        </div>
        <!-- /.card -->
    </div>
</div>
{% endblock %}

<script>

    getCurrencyCodes();

    function getCurrencyCodes() {
        $.ajax({
            url: "{{ env('APP_URL') }}/currency/codes",
            success: function(response) {
                let html = '<option selected="selected">Selecionar Moeda</option>';

                for (let [key, value] of Object.entries(response.data)) {
                    html += `<option value="${value.type}">${value.label} - ${value.type}</option>`;
                }

                $("#codeout-select").html(html);
            }
        });
    }

</script>